asyncpraw==7.4.0
nest_asyncio==1.5.7
pandas==1.5.3
scikit-learn==1.2.2
tensorflow==2.13.0
matplotlib==3.7.2
seaborn==0.12.2
gensim==4.3.0
pyLDAvis==3.4.0
nltk==3.8.1
textblob==0.17.1
NRCLex==4.0
spacy==3.6.1
numpy==1.25.0
wordcloud==1.9.1
